<app-navbar></app-navbar>

<div class="container w-50 mt-5 mx-auto border">

    <h2>Feito por:</h2>
    <br>

    <h4>João Vítor Guimarães Douverny RM: 94076</h4>
    <br>
    <h4>Gabriel Mendes Pupo RM: 95924</h4>
    <br>

    <h4>Matheus Stelitti Sepulveda RM: 96272</h4>
    <br>


    <div class="card">
        <div class="card-header">
          Condições dos oceanos
        </div>
        <div class="card-body">
          <h5 class="card-title">GS Micro serviços</h5>
          <a href="/condicoes-oceano" class="btn btn-primary">Go</a>
        </div>
      </div>

</div>