     <app-navbar></app-navbar>
    
    <div class="container-column mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="container border p-3">
                    <h1>Water Filter Data</h1>
                    <form class="row">
                        <div class="mb-3 col-4">
                            <label for="input1" class="form-label">Filtro por Região</label>
                            <input type="text" class="form-control" id="input1">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="input2" class="form-label">Filtro por Espécie</label>
                            <input type="text" class="form-control" id="input2">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="input3" class="form-label">Filtro por Status de Conservação</label>
                            <input type="text" class="form-control" id="input3">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="input4" class="form-label">Filtro por Temperatura da Água</label>
                            <input type="text" class="form-control" id="input4">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="input5" class="form-label">Filtro por pH</label>
                            <input type="text" class="form-control" id="input5">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="input6" class="form-label">Filtro por Níveis de Poluição</label>
                            <input type="text" class="form-control" id="input6">
                        </div>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                </div>
            </div>
            <div class="mt-5 col-md-12">
                <div class="container border p-3">
                    <h4>Data table</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Região</th>
                                <th scope="col">Temperatura da Água</th>
                                <th scope="col">pH</th>
                                <th scope="col">Nível de Poluição</th>
                                <th scope="col">Espécies</th>
                                <th scope="col">Projetos de Conservação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <tr *ngFor="let ocean of oceanData">
                                    <td>{{ ocean.regiao }}</td>
                                    <td>{{ ocean.temperaturaAgua }}</td>
                                    <td>{{ ocean.pH }}</td>
                                    <td>{{ ocean.nivelPoluicao }}</td>
                                    <td>{{ ocean.especies }}</td>
                                    <td >{{ ocean.projetosConservacao }}</td>
                            </tr>
                      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


<!-- 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Região</th>
                <th scope="col">Temperatura da Água</th>
                <th scope="col">pH</th>
                <th scope="col">Nível de Poluição</th>
                <th scope="col">Espécies</th>
                <th scope="col">Projetos de Conservação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ oceanData.regiao || '-' }}</td>
                <td>{{ oceanData.temperaturaAgua || '-' }}</td>
                <td>{{ oceanData.pH || '-' }}</td>
                <td>{{ oceanData.nivelPoluicao || '-' }}</td>
                <td>
                    <ul>
                        {{#each oceanData.especies}}
                        <li>{{ this.nome || '-' }} ({{ this.status || '-' }})</li>
                        {{/each}}
                    </ul>
                </td>
                <td>
                    <ul>
                        {{#each oceanData.projetosConservacao}}
                        <li>{{ this.nomeProjeto || '-' }} ({{ this.tipoProjeto || '-' }}, {{ this.tipoParticipacao || '-' }})</li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
     -->