<app-navbar></app-navbar>

<div class="container-column mt-2">
  <div class="row container w-75 mx-auto">
    <div class="col-md-12">
      <form class="row gy-2 gx-3 align-items-center" [formGroup]="oceanForm" (ngSubmit)="pesquisar()">
        <h4>Filtros</h4>
        <div class="col-4">
          <label for="regiao">Região</label>
          <input name="regiao" id="regiao" type="text" class="form-control" formControlName="regiao" placeholder="">
        </div>
        <div class="col-4">
          <label for="statusConservacao">Espécies</label>
          <input name="statusConservacao" id="statusConservacao" type="text" class="form-control" formControlName="statusConservacao" placeholder="">
        </div>
        <div class="col-4">
          <label for="especie">Status de concervação</label>
          <input name="especie" id="especie" type="text" class="form-control" formControlName="especie" placeholder="">
        </div>
        <div class="col-4">
          <label for="temperaturaMin">Temperatura d'água</label>
          <input name="temperaturaMin" id="temperaturaMin" type="text" class="form-control" formControlName="temperaturaMin" placeholder="">
        </div>
        <div class="col-4">
          <label for="phMin">pH</label>
          <input name="phMin" id="phMin" type="text" class="form-control" formControlName="phMin" placeholder="">
        </div>
        <div class="col-4">
          <label for="nivelPoluicao">Nível de poluição</label>
          <input name="nivelPoluicao" id="nivelPoluicao" type="text" class="form-control" formControlName="nivelPoluicao" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
    <div class="mt-5 col-md-12">
      <div class="container border p-3">
        <h4>Dados coletados:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Região</th>
              <th scope="col">Temperatura</th>
              <th scope="col">pH</th>
              <th scope="col">Nível de poluição</th>
              <th scope="col">Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ocean of oceanData; trackBy: trackByFn">
              <td scope="row">{{ocean.regiao}}</td>
              <td>{{ocean.temperaturaAgua}}</td>
              <td>{{ocean.pH}}</td>
              <td>{{ocean.nivelPoluicao}}</td>
              <td><a (click)="verDetalhes(ocean)">Ver Detalhes</a></td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" *ngFor="let page of [1, 2, 3]; let i = index" (click)="mudarPagina(i + 1)">
              <a class="page-link" (click)="mudarPagina(i + 1)">{{ i + 1 }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fs-4">Região:</p>
        <p class="fs-6">{{currentOceanData.regiao}}</p>
        <p class="fs-4">Nível de Poluição:</p>
        <p class="fs-6">{{currentOceanData.nivelPoluicao}}</p>
        <p class="fs-4">pH:</p>
        <p class="fs-6">{{currentOceanData.pH}}</p>
        <p class="fs-4">Temperatura da Água:</p>
        <p class="fs-6">{{currentOceanData.temperaturaAgua}}</p>
        <p class="fs-4">Especialidades:</p>
        <ng-container *ngFor="let item of currentOceanData.especies; trackBy: trackByFn">
          <p>Nome: {{item?.nome}}</p>
          <p>Status: {{item?.status}}</p>
          <hr>
        </ng-container>
        <p class="fs-4">Projetos de Conservação:</p>
        <ng-container *ngFor="let item of currentOceanData.projetosConservacao; trackBy: trackByFn">
          <p>Nome do Projeto: {{item?.nomeProjeto}}</p>
          <p>Tipo do Projeto: {{item?.tipoProjeto}}</p>
          <p>Tipo da Participação: {{item?.tipoParticipacao}}</p>
          <hr>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
